[Desktop Entry]
Version=1.0
Type=Application
Name=cronosFacen Widget
Comment=Widget de escritorio para dashboard academico
Exec=/home/geran/MEGA/Workspaces/proyectos/cronosFacen/run_widget.sh
Path=/home/geran/MEGA/Workspaces/proyectos/cronosFacen
Icon=/home/geran/MEGA/Workspaces/proyectos/cronosFacen/assets/icono_app.png
Terminal=false
Categories=Education;Utility;
StartupNotify=true
